/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 a {
  text-decoration: none;
  color: #375b91;
  transition: .3s;
 }

 a:hover {
  color: #4a72ad;
 }

 .container {
  padding: 40px;
  width: 900px;
 }

 #nav {
  height: 60px;
  padding: 20px;
  background-color: #375b91;
 }

 #nav > .nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 820px;
  margin: auto;
 }

 #nav a {
  color: white;
 }

 #restaurants-reviews {
  padding: 0;
  list-style: none;
  padding-top: 20px;
 }

 #restaurants-reviews li {
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 10px 20px;
  border-radius: 8px;
  transition: .3s;
 }

 #restaurants-reviews li:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
 }
