<h1>Reviews of <%= @restaurant.name %></h1><br>

<ol>
<% @reviews.each do |review| %>
  <li>
    <%= review.content %><br>
    <% review.rating.times do %>
      <%= 'â­' %>
    <% end %>
  </li><br>
<% end %>
</ol>

<%= link_to 'Go back to restaurant', restaurant_path(@restaurant) %>
